Source: pardus-pen
Section: utils
Priority: optional
Maintainer: Ali Rıza KESKİN <ali.riza.keskin@pardus.org.tr>
Build-Depends: meson, ninja-build,
         qtbase5-dev,
         qtchooser,
         libqt5svg5-dev,
         libarchive-dev
Standards-Version: 4.3.0
Homepage: https://pardus.org.tr

Package: pardus-pen
Architecture: any
Recommends: qttranslations5-l10n
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqt5gui5,
         libqt5svg5,
         libqt5widgets5,
         libqt5core5a
Description: Pen for pardus.
 Fast, usefull tool for drawing on screen.
